<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>手表柜台销售管理系统</title>
    <link type="favicon" rel="shortcut icon" href="static/img/favicon.ico" />
    <link rel="stylesheet" href="static/css/public.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>手表柜台销售管理系统</h1>

    <div class="publicHeaderR">
        <p><span style="color: #fff21b"> {{session["user_name"]}}</span> , 欢迎你！</p>
        <a href="/login">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">本Demo后台使用tornado框架开发并部署,服务器为阿里云Linux(Ubuntu 16.04.2)服务器</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li id="active"><a href="/billList">销售单管理</a></li>
                <li><a href="/stockList">库存管理</a></li>
                <li><a href="/userList">用户管理</a></li>
                <li><a href="/password">密码修改</a></li>
                <li><a href="/login">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>销售单管理页面 >> 订单添加页面</span>
        </div>
        <div class="stockAdd">
                <form class="BillUpdateForm" action="#">
                <!--div的class 为error是验证错误，ok是验证成功-->

                    <div class="" hidden>
                        <input type="text" name="bill_id" id="bill_id" value={{row["bill_id"]}} required/>
                    </div>
                <div class="">
                    <label for="part_no">商品编码：</label>
                    <input type="text" name="part_no" id="part_no" value={{row["part_no"]}} required/>
                    <span class="spannotice" id="stock_qty">当前库存量:</span>
                </div>
                <div>
                    <label for="bill_price">销售单价(元)：</label>
                    <input type="text" name="bill_price" id="bill_price" value={{row["bill_price"]}} required/>
                    <span >*请输入大于0的正自然数，小数点后保留2位</span>
                </div>
                <div>
                    <label for="bill_qty">销售数量：</label>
                    <input type="text" name="bill_qty" id="bill_qty" value={{row["bill_qty"]}} required/>
                     <span class="spannotice" id="all_price">商品总金额(元):{{row["bill_qty"]*row["bill_price"]}}</span>
                </div>

                <div>
                    <label for="cust_name">客户姓名：</label>
                    <input type="text" name="cust_name" id="cust_name" value={{row["cust_name"]}} required/>
                    <span>*请输客户姓名</span>
                </div>
                <div>
                    <label for="cust_tel">客户联系电话：</label>
                    <input type="text" name="cust_tel" id="cust_tel" value={{row["cust_tel"]}} required/>
                    <span></span>
                </div>
                <div>
                    <label for="cust_email">客户Email：</label>
                    <input type="text" name="cust_email" id="cust_email" value={{row["cust_email"]}} required/>
                    <span></span>
                </div>
                <div>
                    <label for="bill_date">购买时间：</label>
                    <input type="date" name="bill_date" id="bill_date" value={{row["bill_date"]}} required/>
                    <span></span>
                </div>
                <div>
                    <label >是否付款：</label>
                    <input type="radio" name="is_pay" value="N" {% if row["is_pay"]=="N" %} checked {%end%}/>未付款
                    <input type="radio" name="is_pay" value="Y" {% if row["is_pay"]=="Y" %} checked {%end%}/>已付款
                </div>
                <div>
                    <label >是否出库：</label>
                    <input type="radio" name="stock_out" value="N" {% if row["stock_out"]=="N" %} checked {%end%} />未出库
                    <input type="radio" name="stock_out" value="Y" {% if row["stock_out"]=="Y" %} checked {%end%}/>已出库
                </div>
                <div class="stockAddBtn">
                    <input type="button" id="saveupdate" value="保存" />
                    <a href="/billList">返回</a>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer">
</footer>
<script src="static/js/time.js"></script>
<script src="static/js/jquery.js"></script>
<script src="static/js/salejs/hu_bill.js"></script>


</body>
</html>